:root{
    --compra: #4888fc;
    --cargar: #f7a743;
    --fondos: #5fc695;
    --billetera: #49bcd5;
    --litros: #795ed3;
    --tienda: #bd7adb;
    --fondo: #f4f7fc;
    --textos-primarios: #3f506a;
    --textos-secundarios: #8f8e93;
		--tipografia: 'Raleway';
}